body{
    margin: 0px;
    padding: 0px;
    position: relative;
}
*{
    box-sizing: border-box;
}
div.loader{
    display: block;
    width: 220px;
    height: 220px;
    position: fixed;
    top: 37%;
    left: 42%;    
}
.load-one{
    width: 200px;
    height: 200px;
    border-top: 12px solid black;
    border-bottom: 12px solid green;
    border-radius: 50%;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: relative;
    animation: loader-one 1s reverse linear infinite;
    -webkit-animation: loader-one 1s reverse linear infinite;
    -moz-animation: loader-one 1s reverse linear infinite;
    -o-animation: loader-one 1s reverse linear infinite;
  
}
-webkit-@keyframes loader-one{
    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loader-one{
    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.load-two{
    width: 160px;
    height: 160px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-radius: 50%;
    border-left: 12px solid darkred;
    border-right: 12px solid darkblue;
    position: absolute;
    top: 10%;
    left: 10%;
    animation: loader-two 1s linear infinite;
    -webkit-animation: loader-two 1s linear infinite;
    -moz-animation: loader-two 1s linear infinite;
    -o-animation: loader-two 1s linear infinite;
}
-webkit-@keyframes loader-two{
    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loader-two{
    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.load-three{
    width: 120px;
    height: 120px;
    border-top: 12px solid darkgreen;
    border-bottom: 12px solid darkslategray;
    border-radius: 50%;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    position: absolute;
    top: 18%;
    left: 18%;
    animation: loader-three 1s reverse linear infinite;
    -webkit-animation: loader-three 1s reverse linear infinite;
    -moz-animation: loader-three 1s reverse linear infinite;
    -o-animation: loader-three 1s reverse linear infinite;
}
-webkit-@keyframes loader-three{
    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loader-three{
    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.load-four{
    width: 80px;
    height: 80px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-radius: 50%;
    border-left: 12px solid darkolivegreen;
    border-right: 12px solid darkcyan;
    position: absolute;
    top: 26%;
    left: 26%;
    animation: loader-four 1s linear infinite;
    -webkit-animation: loader-four 1s linear infinite;
    -moz-animation: loader-four 1s linear infinite;
    -o-animation: loader-four 1s linear infinite;
}
-webkit-@keyframes loader-four{
    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes loader-four{
    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.main-box{
    position: fixed;
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
    background-image: url("../images/main.jpg");
    background-size: 100% 100%;
    -webkit-transform:scale(0);
    -ms-transform-:scale(0);
    transform: scale(0);
    -webkit-transition-duration: 1s;
    -ms-transtion-duration: 1s;
    transition-duration: 1s;
}
div.container{
    position: absolute;
    top: 0%;
    left:0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0, 0.7);
    text-align: center;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header h1{
   color: white;
   font-weight: 800;
   font-family: Elephant;
   text-align: center;
   margin-bottom: 3%;
   cursor: progress;
}
.bounce{
    animation: jiggle 1s 5;
    -webkit-animation: jiggle 1s 5;
    -moz-animation: jiggle 1s 5;
    -o-animation: jiggle 1s 5;
}
@keyframes jiggle{
    48% 62%{
            -webkit-transform:scale(1.0, 1.0);
            -ms-transform-:scale(1.0, 1.0); 
            transform : scale(1.0, 1.0)
           }
        50%{
            -webkit-transform:scale(1.1, 0.9);
            -ms-transform-:scale(1.1, 0.9);  
            transform : scale(1.1, 0.9) 
           }
        56%{
            -webkit-transform:scale(0.9, 1.1) translate(0px, -3px);
            -ms-transform-:scale(0.9, 1.1) translate(0px, -3px); 
            transform : scale(0.9, 1.1) translate(0px, -3px) 
           }
        59%{ 
            -webkit-transform:scale(1.0, 1.0) translate(0px, -3px);
            -ms-transform-:scale(1.0, 1.0) translate(0px, -3px); 
            transform : scale(1.0, 1.0) translate(0px, -3px) 
           }
}
header nav a{
   text-decoration: none;
   background-color: white;
   color: teal;
   padding: 10px 20px;
   border-radius: 5px;
   font-size: 18px;
   font-weight: bolder;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-left: 1%;
}
header nav a:hover{
    background-color: teal;
    color: white;
}
section{
    margin-top: 2%;
}
.picture{
    width: 150px;
    height: 150px;
    margin: 0px auto;
    border: 4px solid teal;
    border-radius: 50%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition-duration: 1s;
}
.animate{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

section div.picture img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}
section p{
    color: wheat;
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 1%;
}
section div.intro{
    width: 50%;
    height: auto;
    margin: auto;
}
section div.intro h2{
    color: wheat;
    margin-bottom: 1%;
}
hr{
    border-bottom: 4px solid teal;
    width:0%;
    margin: 0px auto;
}
section:hover hr{
    width: 30%;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
section div.intro article{
    color: white;
    margin-top: 1%;
    text-align: justify;
    text-indent: 50px;
}
footer p{
    margin-top: 2%;
    color: teal;
    font-weight: bolder;
}
.design-by:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
::selection{
    background-color: black;
    color: yellowgreen;
}

/* about section */
section h2{
    color: wheat;
}
section div.about{
    width: 50%;
    height: auto;
    margin: auto;
}
section div.about article {
    color: white;
    text-align: justify;
    text-indent: 50px;
    line-height: 1.8;
}
.load-box{
    position: fixed;
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
    background-image: url("../images/main.jpg");
    background-size: 100% 100%;
    -webkit-transform:scale(1);
    -ms-transform-:scale(1);
    transform: scale(1);
    
}

/* project section */
section h2{
    color: wheat;
}
section div.gallery{
    width: 50%;
    height: auto;
    margin: auto;
}
div.cover{
    width: 32%;
    height: 150px;
    float: left;
    margin-left: 1%;
    margin-bottom: 1%;
    overflow: hidden;
    position: relative;
}
div.cover>img{
    width: 100%;
    height: 100%;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}
div.cover:hover div.project{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    transition-duration: 1s;
}
div.cover:hover>img{
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition-duration: 1s;
    transition-duration: 1s; 
}
div.project h2{
    color: white;
    line-height: 4;
    text-decoration: underline;
    cursor: pointer;
    -moz-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);    
}
div.cover:hover div.project h2{
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s; 
}

section>div.fix{
    clear: both;
}

/* contact section */
section>h2{
    color: wheat;
}
section>div.form{
    width: 50%;
    height: auto;
    margin: auto;
}
section > div.form > div.part{
    width: 50%;
    height: 200px;
    float: left;
}
section > div.form > div.part > form > label{
    width: 100%;
    color:white;   
}
section > div.form > div.part > form > input[type="text"]{
    width: 100%;
    height: 50px;
    padding: 10px;
    margin: 3.5% 1%;
}
.label{
    width: 100%;
    color:white; 
}
textarea{
    margin: 3.5% 1%;
    resize: none;
    padding: 10px;
}
::placeholder{
    color:teal;
    font-size: 12px;
    font-weight: bold;
}
input[type="submit"]{
    font-size: 20px;
    font-weight: 700;
    outline: 0px;
    background-color: teal;
    color: white;
    border: 1px solid teal;
    padding: 8px 20px;
}
input[type="submit"]:hover{
    background-color: white;
    color: teal;
    outline: 3px solid white;
    outline-offset: 2px;
    cursor: pointer;
}
footer>div.social-media{
    margin-top: 3%;
}
footer>div.social-media>i{
    background-color: white;
    display: inline;
    padding: 15px;
    font-size: 20px;
    border-radius: 50%;
    margin-left: 0.5%;
    cursor: pointer;
}
footer>div.social-media>i:hover{
    background-color: teal;
    color: white;
}